.results-wrapper {
  padding: 10px;
}

.results-title-wrapper {
  padding-bottom: 15px;
}

.results-title {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 5px;
}

.results-category {
  display: inline;
  position: absolute;
  right: 0px;
  background-color: #F7F7F7;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
}

.results-subtitle {
  font-weight: 100;
}

.results-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.results-grid-header {
  font-weight: 700;
  padding: 0px 0px 10px 0px;
}

.results-grid-item-main {
  font-weight: 500;
  width: 100%;
}

.results-grid-item {
  padding: 5px 0px 5px 0px;
  border-top: solid 1px #F4F4F4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 300;
}

.results-grid-item-value {
  font-size: 1em;
  font-size: 0.9em;
  font-weight: 600;
  padding: 2px 2px;
  width: 100%;
  border: none;
  text-align: right;
  border-radius: 10px;
}