.results-wrapper {
  padding: 10px;
}

.results-title-wrapper {
  padding-bottom: 15px;
}

.results-title {
  font-size: 16px;
  font-weight: 700;
}

.results-subtitle {
  font-weight: 100;
}

.results-grid {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.results-grid-header {
  font-weight: 700;
  padding: 0px 0px 10px 0px;
}

.results-grid-item-main {
  font-weight: 500;
}

.results-grid-item {
  padding: 5px 0px 5px 0px;
  border-top: solid 1px #F4F4F4;
  display: flex;
  align-items: center;
  font-weight: 300;
}

.results-grid-item button {
  border: none;
  min-width: 90px;
  color: white;
  font-weight: 700;
  background-color: #b3a5db;
  padding: 8px 15px;
  border-radius: 10px;
}

.results-grid-item button:hover {
  cursor: pointer;
}