@media only screen and (max-width: 600px) {
  .history-title {
    text-align: center;
  }

  .history-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .history-content-container {
    width: 100% !important;
  }
}

.history-wrapper {
  width: 100%;
  margin: 1vw;
}

.history-container {
  width: 100%;
  margin-bottom: 10vh;
}

.history-title {
  font-size: 1em;
}


.history-content {
  display: flex;
}

.history-content-container {
  padding: 15px;
  border-radius: 20px;
  margin: 5px;
  margin-bottom: 20px;
  box-shadow: 9px 8px 22px -6px rgba(222,222,222,1);
}