.home-container {
  display: flex;
  height: 75vh;
  margin: 0.75em;
  border-radius: 10px;
  justify-content: center;
  background: radial-gradient(140% 107.13% at 50% 10%, transparent 40%, rgba(255,255,255,1) 0%, rgba(223,180,255,1) 53%, rgba(195,113,255,1) 77%, rgba(131,74,203,1) 89%, rgba(52,25,139,1) 100%);
}

.hero-container {
  display: grid;
  align-items: center;
  grid-template-columns: 55% 45%;
  width: 80%;
  max-width: 1200px;
}

.hero-text-title {
  font-size: 5em;
  padding: 0 0 15px 0;
}

.hero-text-subtitle {
  font-weight: 200;
}

.hero-image {
  width: 100%;
}

.hero-button-group {
  margin: 10px 0px;
}

.hero-button-group button {
  font-size: 14px;
  padding: 8px;
  border-radius: 25px;
  border: none;
}

.hero-button-sign-up {
  margin-right: 10px;
  width: 90px;
  border: none;
  color: white;
  background-color: #222222;
}

.hero-button-sign-up:hover {
  cursor: pointer;
}

.hero-button-log-in {
  background-color: transparent;
}

.hero-button-log-in:hover {
  cursor: pointer;
}

