.chart-title {
  font-size: 1.2em;
  font-weight: 600; 
}

.chart-subtitle {
  font-size: 1em;
  font-weight: 100;
  margin-bottom: 10px;
}

.chart-main {
  border-left: solid 1px #F4F4F4;
  border-bottom: solid 1px #F4F4F4;
  height: 200px;
}